<% @hours.each do |subject, hours| %>
  <b><%= subject %></b>: <%= hours %> hours ( <%= @counts[subject] %> posts) </br>
<% end %>

<h3>This Week</h3>
<% @week_hours.each do |subject, hours| %>
  <b><%= subject %></b>: <%= hours %> hours ( <%= @week_counts[subject] %> posts) </br>
<% end %>

<h3>Last Week</h3>
<% @last_week_hours.each do |subject, hours| %>
  <b><%= subject %></b>: <%= hours %> hours ( <%= @last_week_counts[subject] %> posts) </br>
<% end %>